$default-font-color: #38383A;

// landing 
$landing-bgcolor: #D2E8F4 ;
$landing-form: white;
$landing-form-border: #C1DEEE;
$box-shadow: #B2B3BB;

$input-border: #DDDDDD;

// buttons
$btn-primary-text: white;
$btn-primary-bgcolor: #D2E8F4;
$btn-primary-bghover:#7CAEE2;
$btn-primary-border: #D2E8F4;

// modal
$modal-bgcolor: white;
$modal-border: #C1DEEE;
$modal-button-border: #AAAAAA;
$modal-button-hover: #C4C4C4;

