table {
	border-collapse: collapse;
	text-align-last: center;
	width: max-content;
	margin: 25px auto 0 auto;
}
td {
	border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
#lobby {
	background-color: red;
	text-align: center;
	height: 100%;
	width: 100%;
}
