#player {
	text-align: center;
    display: inline-block;
    height: 100%;
}
.playerSelected img {
	margin-top: 10%;
	max-height: 50%;
	max-width: 50%;
	border-style: dashed;
    border-radius: 25%;
    border-color: black;
}
.playerUnselected img {
	margin-top: 10%;
	max-height: 50%;
	max-width: 50%;
	border-style: solid;
    border-radius: 25%;
    border-color: lime;
}
.playerSelected p {
	color: black;
}
.playerUnselected p {
	color: lime;
}